<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user_profil</title>
    <link rel="stylesheet" href="static/user_profil.css">
</head>
<body>
    <h1>Profile Page</h1>
    <div class="container">
        <h1 class="welcome">Welcome!</h1>
        <img class="profilImg" src="static/unknown-icon.jpeg" alt="">
        <h2 class="name">{{ session['user_name'] }}</h2>
        <h2 class="loggedin">You are logged in with email:!</h2>
        <p class="email">{{ session['user_email'] }}</p>
        <a href="/dashboard" class="dashboard-button">Go to Dashboard</a>
        <a href="{{ url_for('logout') }}" class="logout-button">Logout</a>
    </div>
</body>
</html>
